Options -MultiViews
RewriteEngine On

RewriteBase /Webdev1ek2_ArneVerleyen/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]